body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    135deg,
    #0f172a,
    #1e293b,
    #334155
  );

  color: white;
}





.app {
  text-align: center;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  box-shadow:
    0 10px 40px rgba(0,0,0,0.4);

  font-family: sans-serif;
}


.board {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 12px;
  justify-content: center;
  margin-top: 30px;
}

.card {
  height: 90px;
  width: 90px;
  background: #1e293b;
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.08);
  background: #334155;

  box-shadow:
    0 0 15px rgba(77,150,255,0.7);
}


.win-message {
  margin: 15px 0;
  padding: 14px;
  border-radius: 12px;
  font-weight: bold;
  color: white;

  background: linear-gradient(
    135deg,
    #ff6b81,
    #6bcB77,
    #4d96ff
  );

  background-size: 300% 300%;

  animation:
    pop 0.5s ease,
    gradientMove 5s ease infinite;

  box-shadow: 0 5px 20px rgba(0,0,0,0.3);
}

@keyframes pop {
  0% { transform: scale(0.5); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Restart button */

.restart {
  margin: 10px 0 20px;
  padding: 10px 20px;

  background: linear-gradient(
    135deg,
    #ff6b81,
    #ff8e53
  );

  color: white;
  border: none;
  border-radius: 10px;

  cursor: pointer;
  font-size: 16px;
  font-weight: bold;

  transition: 0.3s;
}

.restart:hover {
  transform: scale(1.08);
  box-shadow:
    0 5px 20px rgba(255,107,129,0.5);
}

/*  Title */

h1 {
  font-size: 42px;
  margin-bottom: 10px;
  line-height: 1.2;
  padding-bottom: 5px;

  background: linear-gradient(
    90deg,
    #ff6b81,
    #4d96ff
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 0 20px rgba(77,150,255,0.3);
}